/*
COLORS
- DARK BLUE : #161B40
- BLUE : #43BEE5
- RED : #F40058
- YELLOW : #EFA500
- GREEN : #41B853
- WHITE : #FFFFFF


FONTS


INDEX
- IMPORTS
- GENERAL
- BOUTONS
- LOGIN / REGISTRATION
- NAVBAR
- HOME PAGE
- PROFILE PAGE
- GIFTS PAGE
- COMMENTS PAGE


- FOOTER
- MEDIA QUERIES

*/

/* IMPORTS */
@font-face {
    font-family: 'Neutra';
    src: url('/css/fonts/neutra/Neutra Text Book.otf');
}
@font-face {
    font-family: 'NeutraBold';
    src: url('/css/fonts/neutra/Neutra-Text-TF-Light-SC-Demi_32158.ttf');
}
@font-face {
    font-family: 'NeutraLight';
    src: url('/css/fonts/neutra/Neutra-Text-Light_32131.ttf');
}
@font-face {
    font-family: 'HarrietBold';
    src: url('/css/fonts/harriet/harrietbold.otf');
}



/* GENERAL */

body {
    background-color: #161B40;
    font-family: HarrietBold, Arial, Helvetica, sans-serif;
}

.white {
    background-color: #FFFFFF;
    color: #161B40;
}

.darkBlue {
    background-color: #161B40;
    color: #FFFFFF;
}

span.blue {
    color: #43BEE5;
}
span.red {
    color:#F40058;
}
span.green {
    color:#41B853;
}
span.yellow {
    color:#EFA500;
}

h1 {
    font-family: NeutraBold, Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
    font-family: NeutraBold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #161B40
}

p {
    font-family: HarrietBold, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
p.intro {
    font-size: 2em;
}
p.introSmall {
    font-size: 1.5em;
}
p.small {
    font-size: 0.8em;
}
p.extraSmall {
    font-size: 0.7em;
}

input {
    font-family: HarrietBold, Arial, Helvetica, sans-serif;
    color: #161B40;
}

.alert-success {
    color: #FFFFFF;
    background-color: #41B853;
    border: none;
}
.alert-danger {
    color: #FFFFFF;
    background-color: #F40058;
    border: none;
}



/* BOUTONS */

button.btnDarkBlue {
    border: 2px solid #161B40;
    font-style: HarrietBold, Arial, Helvetica, sans-serif;;
    color: #161B40;
}
button.btnDarkBlue:hover {
    background-color: #161B40;
    color: #FFFFFF;
}

button.btnGreenBgBlue {
    border: 2px solid #41B853;
    font-style: HarrietBold, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
button.btnGreenBgBlue:hover {
    background-color: #41B853;
    color: #FFFFFF;
}
button.btnGreenBgWhite {
    border: 2px solid #41B853;
    font-style: HarrietBold, Arial, Helvetica, sans-serif;
    color: #161B40;
}
button.btnGreenBgWhite:hover {
    background-color: #41B853;
    color: #FFFFFF;
}

button.btnRed {
    border: 2px solid #F40058;
    font-style: HarrietBold, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
button.btnRed:hover {
    background-color: #F40058;
    color: #FFFFFF;
}

button.btnBlue {
    border: 2px solid #43BEE5;
    font-style: HarrietBold, Arial, Helvetica, sans-serif;
    color: #43BEE5;
}
button.btnBlue:hover {
    background-color: #43BEE5;
    color: #FFFFFF;
}

button.btnEdit {
    border: none;
    background-color: transparent;
    color: #41B853;
    transition: 0.5s;
}
button.btnEdit:hover {
    background-color: #41B853;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}

button.btnDelete {
    border: none;
    background-color: transparent;
    color: #F40058;
    transition: 0.5s;
}
button.btnDelete:hover {
    background-color: #F40058;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}

button.btnEditSmall {
    border: none;
    background-color: transparent;
    color: #41B853;
    transition: 0.5s;
    font-size: 0.8em;
}
button.btnEditSmall:hover {
    background-color: #41B853;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}

button.btnDeleteSmall {
    border: none;
    background-color: transparent;
    color: #F40058;
    transition: 0.5s;
    font-size: 0.8em;
}
button.btnDeleteSmall:hover {
    background-color: #F40058;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}
button.btnEditExtraSmall {
    border: none;
    background-color: transparent;
    color: #41B853;
    transition: 0.5s;
    font-size: 0.7em;
}
button.btnEditExtraSmall:hover {
    background-color: #41B853;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}

button.btnDeleteExtraSmall {
    border: none;
    background-color: transparent;
    color: #F40058;
    transition: 0.5s;
    font-size: 0.7em;
}
button.btnDeleteExtraSmall:hover {
    background-color: #F40058;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.5s;
}


/* LOGIN / REGISTRATION */
.login-form p {
    text-align: justify;
}
.login-form a {
    color: #FFFFFF;
}


/* NAVBAR */

nav {
    background-color: #161B40;
    color: #FFFFFF;
    font-family: Neutra, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
}

nav a {
    color: #FFFFFF!important;
}

nav a:hover {
    color: #43BEE5!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.headPage {
    margin-top: 130px!important;
}



/* HOMEPAGE */

.headPage img {
    height: 400px;
}

.headPage h1 {
    font-size: 6rem;
}

.cardIndex img {
    height: 150px;
    border-radius: 50%;
}

.card h5 {
    font-family: NeutraBold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #161B40;
}

.cardIndex {
    border: none;
    transition: 0.5s;
}
.cardIndex:hover {
    transform: scale(1.05);
    transition: 0.5s;
}




/* GIFTS PAGE */
.giftCard {
    border-color: #FFFFFF;
}

.giftCard p {
    color: #161B40;
}

.giftCard h2 {
    color: #161B40;
}

.giftCard .card-footer {
    width: 100%;
    background-color: #FFFFFF;
}




/* PROFILE PAGE */

.profileContainer img {
    max-height: 200px;
}

table {
    background-color: #FFFFFF;
}
.editGiftContainer {
    color: #FFFFFF;
}



/* COMMENTS PAGE */

.commentGiftCard {
    border-color: #FFFFFF;
}

.commentGiftCard p {
    color: #161B40;
}

.commentGiftCard .card-footer{
    background-color: #FFFFFF;
}

.comment p {
    color: #161B40;
}

.modal-content h5 {
    color: #FFFFFF;
}
.modal-content {
    background-color: #161B40;
}



/* FOOTER */

footer p {
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .headPage img {
        height: 110px;
    }
    p.intro {
        font-size: 1.4em;
    }
    .table {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px){
    .headPage img {
        height: 170px;
    }
    p.intro {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .headPage img {
        height: 260px;
    }
    p.intro {
        font-size: 1.7em;
    }
    .commentGiftCard .card-footer{
        position: absolute;
        bottom: 0;
        width: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .headPage img {
        height: 350px;
    }
    p.intro {
        font-size: 1.9em;
    }
    .commentGiftCard .card-footer{
        position: absolute;
        bottom: 0;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .commentGiftCard .card-footer{
        position: absolute;
        bottom: 0;
        width: 60%;
    }
}
